<div class="eatery">

  <h1><span class="mgr-20">今日は「</span><%= @recommend1.name %>」です。</h1>
  <li>
    <h4><span class="mgr-20">住所:</span><%= @recommend1.address %></h4>
    <h4><span class="mgr-20">電話番号:</span><%= @recommend1.tel %></h4>
  </li>
</div>
