<% provide(:title, "Choices") %>
<div class="center jumbotron">
  <h1>Welcome to the where2eat2</h1>

  <h2>
    This is the start page
  </h2>
  <div class="list-group">
  <a href="#" class="list-group-item disabled">1km以内</a>
  <a href="#" class="list-group-item disabled">営業中のみ</a>
  </div>
  <%= link_to "START!", make_path, class: "btn btn-lg btn-primary" %>
</div>
